---
---
// Pokud chceš přepsat proměnné tématu:
$font-family-base: "Courier New", monospace;  // nebo jakkoliv chceš

@import "jekyll-theme-console";

// Vlastní styl:
.intro-text {
  font-size: 1.2em;
  opacity: 1.0;
}

.quote-text {
  font-size: 0.8em;
  opacity: 0.5;
}

footer img {
  float: left;
  margin-right: 20px;
}

.dino-footer {
  height: 80px;
  background-image: url("https://media2.giphy.com/media/S3thLnRWEpRwq6iDIO/giphy.gif");
  background-repeat: repeat-x;  /* opakovat vodorovně */
  background-size: 60px auto;   /* zmenšený dinosaurus */
}
